<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700" rel="stylesheet">

<div class="show-title">
  Below is the info about the book you'd like to borrow from: <%= @book.user.name %>
</div>

<%= render partial:'show_basic_info', locals: {book: @book} %>

<div class="book-authors">
  <%= link_to "Authors", view_borrowable_book_path(@book), :class => "load-authors" %><br>
  <strong></strong>
  <ul></ul>
</div>

<div class="book-genres">
  <%= link_to "Genres", view_borrowable_book_path(@book), :class => "load-genres" %><br>
  <strong></strong>
  <ul></ul>
</div>

<div class="all-comments">
  <%= link_to "See Comments", view_borrowable_book_path(@book), :class => "load-comments" %><br>
  <strong></strong>
  <ul>
  </ul>
</div>

<div class="links">
  <%= link_to "Borrow Book", borrow_book_path(@book), method: "post" %>
</div>